<div id="sidebar-links" class="cutcorner">
    <h3>Links</h3>
    <hr>
    <table class="linktable">
        <tr>
            <td>
        		<a target="_blank" href="http://www.linkedin.com/in/sebastianmerz">LinkedIn</a>
            </td>
        </tr>
        <tr>
            <td>
        		<a target="_blank" href="http://www.github.com/sebastianmerz">GitHub</a>
            </td>
        </tr>
        <tr>
            <td>
        		<a target="_blank" href="http://www.hackersatberkeley.com">Hackers@Berkeley</a>
            </td>
        </tr>
        </tr>
    </table>
</div>
